﻿@model string

@{
    ViewBag.Title = "Edumeter | Рейтинг школ";
}
<div id="wrapper">
    @Html.Partial("Compare/Content")
</div>

@section PageJS{
    <script src="@Url.Content("~/Scripts/models/BagViewModel.js")"></script>
    <script>
        var model = new BagViewModel('@Html.Raw(Model)');
        ko.applyBindings(model);
    </script>
    }
