﻿@{
    ViewBag.Title = "Edumeter | Рейтинг школ";
}

<div id="wrapper">
    @Html.Partial("Index/LeftSidebarNew")
    @Html.Partial("Index/ContentNEW")
</div>



@section PageJS{

    @*<script src="@Url.Content("~/Scripts/js/jquery-2.1.0.min.js")"></script>*@

    <script src="@Url.Content("~/Scripts/jquery.dropdown.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/skel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/skel-panels.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/init.js")"></script>
    <script src="@Url.Content("~/Scripts/models/SchoolListViewModel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/models/SchoolViewModel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/models/DistrictViewModel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/models/CityViewModel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/models/SearchSchoolModel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/dropdownSearch.js")" type="text/javascript"></script>
    
    <script>
        $(document).ready(function () {
            // apply knockout;
            var model = new SchoolListViewModel('@Url.RouteUrl("jsData")', '@Url.RouteUrl("jsSearchDistrict")', '@Url.RouteUrl("jsSearchByDistrict")', '@Url.RouteUrl("jsSearchCity")', '@Url.RouteUrl("jsSearchByFullSchoolName")', '@Url.RouteUrl("jsSearchSchoolById")');
            ko.applyBindings(model);
        });
    </script>
    }
    
   