﻿@{
    ViewBag.Title = "Рейтинг школ";
}

<div data-bind="visible:!IsLoaded()">
    LOADING
</div>
@*<div data-bind="visible: IsLoaded" style="display: none">
    <div id="schools" data-bind="foreach: Schools">
        <div class="school-line">
            <div class="rate">
                <span class="ratio" data-bind="text: GeneralRating"></span>
            </div>
            <div class="info left">
                <h4 class="title">
                    <span data-bind="text:Name"></span>
                </h4>
                <p class="address">
                    <a href="#" data-bind="text: Address"></a>
                </p>
                <p class="description" data-bind="text: Description"></p>
            </div>
            <div class="charts right">
                <dl>
                    <dt>Точные науки</dt>
                    <dd>
                        <div data-bind="attr: { class: ExactSciencesColor, title: ExactSciences}, style: { width: ExactSciencesWidth }"></div>
                    </dd>
                    <dt>Гуманитарные науки</dt>
                    <dd>
                        <div data-bind="attr: { class: HumanitiesSciencesColor, title: HumanitiesSciences}, style: { width: HumanitiesSciencesWidth }"></div>
                    </dd>
                    <dt>Естественные науки</dt>
                    <dd>
                        <div data-bind="attr: { class: NaturalSciencesColor, title: NaturalSciences}, style: { width: NaturalSciencesWidth }"></div>
                    </dd>
                </dl>
            </div>
        </div>

    </div>
</div>*@

@section SelectListRegion
{
    <div id ="SelectSearchSchool" style ="color:white;padding-left:10px;">
        <select id ="SelectListRegion" data-bind="options: RegionList, value: selectedRegionName, optionsCaption: 'Виберіть область'" style="width:300px;border:2px solid blue;margin-top:30px;"></select>
        <select id ="SelectListDistrict" data-bind="options: DistrictList, optionsText: 'DistrictName' , value: selectedDistrictName, optionsCaption: 'Виберіть регіон'" style="width:300px;border:2px solid blue;margin-top:30px;"></select>
    </div>
}
@section PageJS{

}