﻿@model int
@{
    ViewBag.Title = "Edumeter | Рейтинг школ";
}

<div id="wrapper">
    @Html.Partial("School/leftSidebar")
    @Html.Partial("School/Content")
</div>

@section PageCSS{
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link href="@Url.Content("~/css/style-school-info.css")" rel="stylesheet" />

}

@section PageJS{
    <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/skel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/skel-panels.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/init.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.filter.js")"></script>
    <script src="@Url.Content("~/Scripts/models/SchoolFullModel.js")"></script>
    <script src="@Url.Content("~/Scripts/models/SchoolFullViewModel.js")"></script>
    <script>
        $(document).ready(function () {
            var model = new SchoolFullModel('@Url.RouteUrl("schoolPostInfo")', '@Model');
        ko.applyBindings(model);
    });

    </script>
}