﻿<article class="is-post is-post-excerpt">
    <header>
        <a class="byline" data-bind="text: Name , attr{href: SchoolFull}"></a>
    </header>

    <div class="info">
        <span class="date">
            <span data-bind="text: GeneralRating, attr: {class:'rate ' +  GeneralRatingColor}"></span>
        </span>
    </div>
    <div class="down">
        <div class="left-info">
            <p class="address" data-bind="text: Address"></p>

            <p class="description" data-bind="text: Description"></p>
        </div>
        <div class="right-info">
            <div class="charts">
                <dl>
                    <dt>Точні науки</dt>
                    <dd>
                        <div data-bind="attr: { class: ExactSciencesColor, title: ExactSciences},  style: { width: ExactSciencesWidth }"><span data-bind="text:ExactSciences"></span></div>
                    </dd>
                    <dt>Гуманітарні науки</dt>
                    <dd>
                        <div data-bind="attr: { class: HumanitiesSciencesColor, title: HumanitiesSciences}, style: { width: HumanitiesSciencesWidth }"><span data-bind="text:HumanitiesSciences"></span></div>
                    </dd>
                    <dt>Природничі науки</dt>
                    <dd>
                        <div class="chart" data-bind="attr: { class: NaturalSciencesColor, title: NaturalSciences}, style: { width: NaturalSciencesWidth }"><span data-bind="text:NaturalSciences"></span></div>
                    </dd>
                </dl>
            </div>
        </div>
        <div>
            <span data-bind=" attr{class: BagButtonClass}, click: function(){$parent.AddToBag($data)}" style="height:25px"></span>
        </div>
    </div>
</article>
