﻿<div id="content">
    <div data-bind="visible:!IsLoaded()">
       Обробка запиту... 
    </div>
    <div id="LoadingMessage" style="margin-left:100px;display:none;" data-bind="visible:isnotfound()">
        <p style="font-size:2em;">За вашим запитом нічого не знайдено</p>
        <ol style="list-style-type:circle;">
            <li>Переконайтеся, що всі слова написані без помилок.</li>
            <li>Спробуйте використовувати інші ключові слова.</li>
            <li>Спробуйте використовувати більш популярні ключові слова.</li>
            <li>Спробуйте змінити параметри фільтрів.</li>
        </ol>
    </div>
    <div id="content-inner" data-bind="visible: IsLoaded" style="display: none">
        <div id="articles" data-bind="foreach: Schools">
            @Html.Partial("Index/School-Card")    
        </div>
    </div>
</div>
