﻿<style>
            #bagsubmit {
                font-size: 10pt;
                float: right;
                text-decoration: none;
                padding-left: 5%;
                padding-right: 5%;
                background-color: #c94663;
                background-image: url("@Url.Content("~/css/images/bg1.png")");
                color:white;
                cursor:pointer;
            }

            .BagLeft {
                line-height: 1.1em;
                margin: 0;
                padding: 0;
                font-size: 10pt;
                color: white;
                clear: both;
                text-shadow: none;
            }

                .BagLeft a {
                    text-decoration: none;
                }

                    .BagLeft a:hover {
                        text-decoration: underline;
                    }

            .BagRight {
                vertical-align: middle;
                width:10pt;
                padding-left:5%;
                height: 100%;
            }

                .BagRight img {
                    margin: 0;
                    padding: 0;
                    width: 10pt;
                    float: right;
                    color: red;
                }

                    .BagRight img:hover {
                        cursor: pointer;
                    }
        </style>
<div id="sidebar">
    <!-- Logo -->
    <div id="logo">
        <h1>Edumeter</h1>
    </div>
    <div id="LogoText">
        <div id="InfoSite">
            рейтинг шкіл за результатами ЗНО за 2010 - 2014 роки
        </div>
        <div id="HrefCount">
            <a href="http://blog.edumeter.com.ua/post/54923430391" target="_blank">
                Як ми рахуємо рейтинг
            </a>
        </div>
    </div>
    <!-- Search -->

    <section class="is-filter">
        <dl>
            <dt style="color: Gainsboro; font-size: 1.5em; margin-bottom: 5%;">Пошук</dt>
            <dd>
                <table>
                    <tr style="width: 100%;">
                        <td>
                            <input placeholder="Введіть назву школи" style="color: black; vertical-align: middle; font-size: 10pt; height: 24px; width: 100%;" id="search" autocomplete="off" type="text" data-bind="hasFocus: isSelected, executeOnEnter: enterPressed, value: SearchSchool, valueUpdate: 'input'" />
                        </td>
                        <td style="width: 34px;">
                            <div style="box-shadow: 0 0 5px rgba(255, 0, 0, 1); display: inline-block; border-left: 1px solid grey; vertical-align: middle; width: 100%; height: 24px; background-image: url(/Content/img/button3.png); background-size: 100% 100%;" data-bind="click: enterPressed"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul id="drop_search" style="padding-bottom: 5px; overflow: hidden; z-index: 2; position: absolute; border: 1px solid black; background-color: white; color: black; text-shadow: none; width: 100%; overflow: hidden;" data-bind="visible: isVisbleDropdown, foreach: SearchSchoolList, event: { mouseover: enable, mouseout: disable, click: function (data, event) { takeOneSchool(event) } }">
                                <li class="dropSchool" style="overflow: hidden; font-size: 10pt; height: 20px;" data-bind="style: { color: elemcolor, backgroundColor: background }, value: Id, text: Name, event: { mouseover: focusdrop, mouseout: nofocusdrop }" />
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="#" style="text-decoration: none; border-bottom: 1px dashed white; font-size: 0.9em; width: 100%;" data-bind="click: skipPressed">Очистити результати пошуку</a>
                        </td>
                    </tr>
                </table>
            </dd>
            <dt style="margin-bottom: 5%; color: Gainsboro; font-size: 1.5em;">Фільтр</dt>
            <dd>
                <select style="height: 24px; margin-bottom: 18%;" id="RegionSelect" data-bind="options: RegionList, value: selectedRegionID, optionsText: 'Name', optionsValue: 'Id', optionsCaption: '— Область —'"></select>
            </dd>

            <dd data-bind="visible: IsRegionLoaded">
                <select style="height: 24px;" id="DistrictSelect" data-bind="options: DistrictList, value: selectedDistrictID, optionsText: 'Name', optionsValue: 'Id', optionsCaption: '— Район —'"></select>
                <div style="color: Gainsboro; font-style: italic; text-align: center; font-size: 1.2em;">або</div>
            </dd>

            <dd data-bind="visible: IsRegionLoaded">
                <select style="margin-bottom: 18%; height: 24px;" id="CitySelect" data-bind="options: CityList, value: selectedCityName, optionsText: 'Name', optionsValue: 'Name', optionsCaption: '— Місто —'"></select>
            </dd>
            <dt data-bind="visible: IsBagVisible" style="margin-bottom: 5%; color: Gainsboro; font-size: 1.5em;">Порівняння (x4)</dt>
            <dd>
                <ul data-bind="foreach: Bag">
                    <li>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="BagLeft"><a data-bind="value: Id, text: Name, attr:{href: SchoolFull}"></a></td>
                                    <td class="BagRight">
                                        <div data-bind="click: function(){$parent.RemoveFromBag(this)}" style="height: 100%">
                                            <img src="@Url.Content("~/css/images/X.png")"/>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
                <div id="bagsubmit" data-bind="visible: bagsubmitvisible, click: BagSubmitClick">Порівняти</div>
            </dd>
        </dl>
    </section>
    <div class="Upkey" data-bind="visible: UpKeyVisible, click: ScrollUp">Вгору &#9650;</div>
    <!-- Copyright -->
    <!--<div id="copyright">
        <p>
            &copy; Ololo.<br />
        </p>
    </div>-->

</div>
