﻿<article class="is-post school" data-bind="click: $parent.cardClicked">
    
    <div class="rate">
        <span class="value" data-bind="text: GeneralRating, css: GeneralRatingColor"></span>
		<div class="info-icons">
        <div class="button-wrapper">
            <div class="openButton" title='Додати до порівняння' data-bind="attr : {class: BagButtonClass, title: textInAddToBag}, click: function(){$parent.AddToBag($data)}"></div>
        </div>
        <a class="school-description"></a>
    </div>
	</div>
    <div class="school-info">
        <div class="school-name" data-bind="text: Name"></div>
        <div class="clear"></div>
        <div class="location">
            <span data-bind="text: districtName"></span>, 
            <span data-bind="text: regionName"></span>
        </div>
        <hr />
        <div class="position">
            <div class="area"><span>В Україні:</span> <b data-bind="text: NumberUkr"></b></div>
            <div class="area"><span>В області:</span> <b data-bind="text: NumberRegion"></b></div>
            <div class="area"><span>В районі:&nbsp;</span> <b data-bind="text: NumberDistrict"></b></div>
        </div>
        <div class="zno-info">
            <div class="chart">
                <label>Точні науки</label>
                <div class="chart-bg">
                    <div class="data" data-bind="attr: { title: ExactSciences},  style: { width: ExactSciencesWidth }, css: ExactSciencesColor, text:ExactSciences"></div>
                </div>
            </div>
            <div class="chart">
                <label>Гуманітарні науки</label>

                <div class="chart-bg">
                    <div class="data" data-bind="attr: { title: HumanitiesSciences}, style: { width: HumanitiesSciencesWidth }, css:HumanitiesSciencesColor,text:HumanitiesSciences"></div>
                </div>
            </div>
            <div class="chart">
                <label>Природничі науки</label>
                <div class="chart-bg">
                    <div class="data" data-bind="attr: {title: NaturalSciences}, css: NaturalSciencesColor, style: { width: NaturalSciencesWidth }, text: NaturalSciences"></div>
                </div>
            </div>
        </div>
    </div>
</article>
