﻿<div id="content">
    <div data-bind="visible: !isLoaded()">
        Loading... Please wait
    </div>
    <div id="content-inner" data-bind="visible: isLoaded" style="display: none">
        @Html.Partial("School/View")
    </div>
</div>













































@*
    <div id="content-inner" data-bind="visible: isLoaded" style="display: none">
        <article class="is-post is-post-excerpt " data-bind="with: htmlData">
            <header>
                <span class="byline" data-bind="text: Name"></span>
            </header>
            <div class="info">
                <span class="date">
                    <span class="rate" data-bind="text: GeneralRating, css: Color"></span>
                </span>
            </div>
            <div class="down">
                <div class="left-info">
                    <p class="address" data-bind="text: Address"></p>
                    <p class="description" data-bind="text: Description"></p>
                </div>
            </div>
            <div class="school-info charts">
                <div class="title">Общий рейтинг</div>
                <div class="graphs" data-bind="foreach: generalRatings">
                    <div class="graph" data-bind="css: year">
                        <div class="year" data-bind="text: year"></div>
                        <div class="chart">
                            <div data-bind="text: data, style: { height: procent }, css: color"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="schools-info charts" data-bind="foreachObject: $data.ratings">
                <div class="school-info" data-bind="with: value">
                    <div class="title hide" data-bind="text: displayName"></div>
                    <div class="jshide" data-bind="foreachObject: info">
                        <div class="subject" data-bind="with: value">
                            <div class="subject-name" data-bind="text: displayName"></div>

                            <div class="graphs" data-bind="foreachObject: data">
                                <div class="graph" data-bind="foreachObject: value">
                                    <div class="year" data-bind="text: value.year"></div>
                                    <div class="chart">
                                        <div data-bind="css: value.color, style: { height: value.procent }, text: value.value"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>*@