﻿<div id="sidebar">
    <!-- Logo -->
   
    <a class="hrefInfoPage" href="/" title="На головну">
        <div id="logo">
            <h1>Edumeter</h1>
        </div>
    </a>
    <a title="Повернутися" data-bind="attr: { href: (window.location.hash.indexOf('schoolsBag') == -1 ? '/' + window.location.hash : window.location.hash.replace('#','')) }">
        <div class="hrefback" style="margin:15px 0">&#8592;&nbsp;Назад</div>
    </a>
    <!-- Search -->


</div>
