﻿<article class="is-post is-post-excerpt school-full-info" data-bind="with: htmlData">
    <div class="head">
        <div class="school-name">
            <h1 data-bind="text: SchoolInfo.Name"></h1>
        </div>
        <div class="location">
            <b data-bind="text: SchoolInfo.Address"></b>
            <span data-bind="text: SchoolInfo.Description"></span>
            <div>
                <span data-bind="text: SchoolInfo.DistrictName"></span>,
                <span data-bind="text: SchoolInfo.RegionName"></span>
            </div>
        </div>
        <hr>
    </div>
    <div class="statistics">
        <div class="statistic">
            <div class="statistic-name">Загальні показники</div>
            <div class="charts">
                <div class="charts-wrapper" data-bind="foreach: statistics.generalRatings">
                    <div class="chart">
                        <div class="tower" data-bind="css: $data.color, style : { height : $data.height }">
                            <div class="relative">
                                <div class="value" data-bind="text: $data.value"></div>
                            </div>
                        </div>
                        <div class="year" data-bind="text : $data.year"></div>
                    </div>
                </div>
            </div>
            <div class="subjects" data-bind="foreach: statistics.model">
                <div class="subject-info">
                    <div class="statistic-name" data-bind="text: displayName"></div>
                    <div class="charts">
                        <div class="charts-wrapper" data-bind="foreach: $data.years">
                            <div class="chart">
                                <div class="tower" data-bind="css: $data.color, style : { height : $data.height }">
                                    <div class="relative">
                                        <div class="value" data-bind="text: $data.value"></div>
                                    </div>
                                </div>
                                <div class="year" data-bind="text:$data.year"></div>
                            </div>
                        </div>
                    </div>
                    <div class="subject-table">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Кількість учасників</th>
                                    <th>Середнє значення</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: tableData">
                                <tr>
                                    <td>
                                        <span data-bind="text: year"></span>
                                    </td>
                                    <td>
                                        <!-- ko if : count > 0 -->
                                        <span data-bind="text: count"></span>
                                        <!-- ko if : !base && countChange > 0 -->
                                        <span class="red">↓<span data-bind="text: countChange"></span>%</span>
                                        <!-- /ko -->
                                        <!-- ko if : !base && countChange < 0 -->
                                        <span class="green">↑<span data-bind="text: (-countChange)"></span>%</span>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </td>
                                    <td>

                                        <span data-bind="text: rate"></span>
                                        <!-- ko if : rateChange < 0 -->
                                        <span class="green">↑<span data-bind="text: (-rateChange)"></span>%</span>
                                        <!-- /ko -->
                                        <!-- ko if : rateChange > 0 -->
                                        <span class="red">↓<span data-bind="text: rateChange"></span>%</span>
                                        <!-- /ko -->


                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</article>
