﻿<div class="middle">
    <div class="container">
        <div class="content">
            <div data-bind="visible:!IsLoaded()">
                    Обробка запиту...
            </div>
            <div data-bind="visible: IsLoaded", style="display: none">
                <div id="schools" data-bind="foreach: Schools">
                    @Html.Partial("Index/SchoolInfo")
                </div>
            </div>
        </div>
        <!-- .content -->
    </div>
    <!-- .container-->
</div>
