﻿<aside class="left-sidebar">
    <div id="switcher"></div>
    <div class="left-sidebarcontent">
        <div id="logo">Edumeter</div>
        <section>
            <dl>
                <dt>Область</dt>
                <dd>
                    <select id="" data-bind="options: RegionList, value: selectedRegionID, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Всі області'"></select>
                </dd>
                <dt data-bind="visible: IsRegionLoaded">Регіон</dt>
                <dd data-bind="visible: IsRegionLoaded">
                    <select id="" data-bind="options: DistrictList, value: selectedDistrictID, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Всі регіони'"></select>
                    <div style="font-size:20px;padding-left:30px;margin-top:20px;">Або</div>
                </dd>
                <dt data-bind="visible: IsRegionLoaded">Місто</dt>
                <dd data-bind="visible: IsRegionLoaded">
                    <select id="" data-bind="options: CityList, value: selectedCityName, optionsText: 'Name', optionsValue: 'Name', optionsCaption: 'Всі регіони'"></select>
                </dd>
                <dt>Знайти школу</dt>
                <dd>
                    <button type="button" style="float:right;margin-right:10%;margin-top:15%;height:40px;" data-bind="click: enterPressed">Знайти</button>
                    <input type ="checkbox" data-bind="checked: Check"/>&nbsp;Використовувати фільтр
                    <input id="search" type ="text" data-bind="executeOnEnter: enterPressed, value:SearchSchool, valueUpdate: 'input'" />
                    @*<select size = "3" data-bind="visible: FindSchools, options: SearchSchoolList, value: selectedSchool, optionsText: 'Name', optionsValue: 'Id'"></select>*@
                    <ul id="hints" data-bind="visible: FindSchools, foreach: SearchSchoolList">
                        <li class="hint" data-bind="text: Name, value: Id"></li>
                    </ul>
                </dd>
            </dl>
        </section>
    </div>
</aside>


