﻿<div class="school-line">
    <div class="school-info">
        <div class="header">
            <div data-bind="attr: {class:'rate ' +  GeneralRatingColor}">
                <div class="ratio" data-bind="text: GeneralRating"></div>
            </div>
            <div class="title">
                <h3 data-bind="text: Name"></h3>
            </div>
        </div>
        <div class="footer">
            <div class="address">
                <a href="#" data-bind="text: Address"></a>
            </div>
            <div class="description" data-bind="text: Description">
            </div>
        </div>
    </div>
    <div class="charts">
        <dl>
            <dt>Точные науки</dt>
            <dd>
                <div data-bind="attr: { class: ExactSciencesColor, title: ExactSciences}, text:ExactSciences, style: { width: ExactSciencesWidth }"></div>
            </dd>
            <dt>Гуманитарные науки</dt>
            <dd>
                <div data-bind="attr: { class: HumanitiesSciencesColor, title: HumanitiesSciences}, text:HumanitiesSciences, style: { width: HumanitiesSciencesWidth }"></div>
            </dd>
            <dt>Естественные науки</dt>
            <dd>
                <div data-bind="attr: { class: NaturalSciencesColor, title: NaturalSciences}, text:NaturalSciences, style: { width: NaturalSciencesWidth }"></div>
            </dd>
        </dl>
    </div>
</div>
