﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="Description" content="Рейтинг школ Украины по результатам внешнего независимого оценивания (ВНО)| Рейтинг шкіл України за результатами зовнішньго незалежного оцінювання (ЗНО)" />
    <meta name="Keywords" content="школы киева, рейтинг школ, рейтинг школ 2014, зно рейтинг школ, результати зно 2013 рейтинг шкіл, рейтинг школ +по результатам, рейтинг школ киева, какая школа лучше, лучшие школы киева рейтинг, лучшие школы днепропетровска рейтинг, лучшая школа одессы, лучшие школы харькова, лучшие школы города, лучшие школы украины, адреса школ киева, средние школы киева, список хороших школ, лучшая школа в городе, лучшая школа в районе, сравнить школы в, рейтинг школ харькова, рейтинг школ киева 2014, рейтинг лучших школ, рейтинг школ днепропетровска, результати зно 2013 рейтинг шкіл, рейтинг школ одессы, школы севастополя рейтинг, рейтинг школ запорожья, рейтинг школ николаева, рейтинг шкіл києва, рейтинг школ львова, рейтинг школ украины" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=cyrillic' rel='stylesheet' type='text/css'>
    <noscript>
        <link rel="stylesheet" href="@Url.Content("~/css/skel-noscript.css")"/>
        <link rel="stylesheet" href="@Url.Content("~/css/style.css")" />
        <link rel="stylesheet" href="@Url.Content("~/css/style-desktop.css")"/>
        <link rel="stylesheet" href="@Url.Content("~/css/style-wide.css")"/>

    </noscript>
    <!-- Latest compiled and minified CSS -->

    <!-- Latest compiled and minified JavaScript -->
    @RenderSection("PageCSS", false)
    <link rel="stylesheet" href="@Url.Content("~/css/BagPage.css")" />
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ie9.css")" />
    <![endif]-->
    <!--[if lte IE 8]>
        <script src="@Url.Content("~/Content/js/html5shiv.js")"></script>
        <link rel="stylesheet" href="@Url.Content("~/Content/css/ie8.css")"/><![endif]-->
    <!--[if lte IE 7]>
        <link rel="stylesheet" href="@Url.Content("~/Content/css/ie7.css")"/><![endif]-->
</head>
<body class="left-sidebar">
    @RenderBody()
    @Html.Partial("js")
    @RenderSection("PageJS", false)
     <script>
         (function (i, s, o, g, r, a, m) {
             i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                 (i[r].q = i[r].q || []).push(arguments);
             }, i[r].l = 1 * new Date(); a = s.createElement(o),
             m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
         })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

         ga('create', 'UA-40751568-3', 'auto');
         ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter25861763 = new Ya.Metrika({
                        id: 25861763,
                        webvisor: true,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/25861763" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>
