﻿<script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout-3.1.0.js")" type="text/javascript"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript">
    function __Resize() {
        $('#sidebar').removeAttr('style');
        $('#content').removeAttr('style');
        $(document).resize();
    }
</script>
