﻿#Bagpage {
    width: 100%;
}

#Header {
    margin-left: 2.5%;
    margin-right: 4%;
    padding-top: 2%;
    padding-left:5px;
    font-size: 18pt;
    font-family: sans-serif;
    color: #364050;
    overflow-x: hidden;
    font-weight: bold;
	border-bottom: 1px solid black;
}

#LeftSchoolBar {
    overflow: auto;
    width: 230px;
    height: 100%;
    position: fixed;
    background: #364050 url('images/bg1.png');
    box-shadow: 0.2em 0em 0.2em 0.2em rgba(54,64,80,0.9);
    z-index: 2;
}
a {
     text-decoration:none;
}
#logotype {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    height: 84px;
    background-color: #c94663;
    background-image: url('images/bg1.png');
    padding-top: 1px;
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.15), 0 0.025em 0.15em 0em rgba(0,0,0,0.25);
}

    #logotype h1 {
        font-family: 'Open Sans Condensed', sans-serif;
        color: #fff;
        font-size: 2em;
        letter-spacing: 0.1em;
        font-weight: normal;
    }

#Tips {
    margin-top: 20%;
}

#HeaderTips {
    color: gainsboro;
    font-size: 1.4em;
    font-family: sans-serif;
    padding-left: 10%;
}

.SchoolElem {
    border-spacing: 20px;
}

.ColorSchool {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid white;
}

.NameSchool {
    line-height: 1.1em;
    color: gainsboro;
    font-family:sans-serif;
    font-size:0.8em;
}

    .NameSchool:hover {
        text-decoration: underline;
    }

.Content {
    margin-left: 250px;
}

.Records {
    padding-top: 20px;
    width: 100%;
}

.RecordGen {
    display: inline-block;
    width: 49%;
    margin-bottom: 3%;
    min-width: 330px;
}

.RecordContent {
    width: 90%;
    margin: 0 auto;
    background-color:#F7F7F7;
    padding-bottom: 3%;
    border: 1px solid grey;
    -webkit-box-shadow: 11px 11px 4px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 11px 11px 4px 0px rgba(50, 50, 50, 0.35);
    box-shadow: 11px 11px 4px 0px rgba(50, 50, 50, 0.35);
}
.RecordContentS {
    width: 90%;
    margin: 0 auto;
    background-color:#FBFDE3;
    background-image: url('images/BagBackground.png');
    padding-bottom: 3%;
    border: 1px solid grey;
    -webkit-box-shadow: 11px 11px 4px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 11px 11px 4px 0px rgba(50, 50, 50, 0.35);
    box-shadow: 11px 11px 4px 0px rgba(50, 50, 50, 0.35);
}

.RatingName {
    padding: 1%;
    font-family: sans-serif;
    font-size: 16pt;
    color: black;
    text-shadow: 1px 0px 2px grey;
    text-align: center;
}

.Points {
    overflow: hidden;
}

.Graph {
    position: relative;
    height: 223px;
    border-bottom: 1px solid grey;
    min-width: 170px;
    width: 50%;
    margin: 0 auto;
}

.Column {
    position: absolute;
    bottom: 0;
    width: 15%;
    min-width: 30px;
}

.Digit {
    height: 20px;
    background-color: #F7F7F7;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px darkgrey;
}
.DigitS {
    height: 20px;
    background-color: #FBFDE3;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px darkgrey;
}

.ColumnHeight {
    border-top: 3px solid #F7F7F7;
    -webkit-box-shadow: 16px 15px 5px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 12px 11px 5px 0px rgba(50, 50, 50, 0.35);
    box-shadow: 10px 16px 4px 0px rgba(50, 50, 50, 0.35);
}
.ColumnHeightS {
    border-top: 3px solid #FBFDE3;
    -webkit-box-shadow: 16px 15px 5px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 12px 11px 5px 0px rgba(50, 50, 50, 0.35);
    box-shadow: 10px 16px 4px 0px rgba(50, 50, 50, 0.35);
}

#ButtonSubject {
    margin-left: 10px;
}

#SelectImg {
    width: 40px;
    height: 40px;
    background-image: url('images/select.png');
    background-size: 100% 100%;
    margin-left: 310px;
}

#ButtonMargin {
    float: left;
    padding: 10px;
    width: 270px;
    background-color: #364050;
    background-image: url('images/bg1.png');
    text-shadow: 1px 1px 2px black;
    color: white;
    box-shadow: inset 0.25em -0.25em 0.25em 0.25em rgba(255,255,255,0.25);
    border: 1px solid darkblue;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 5%;
}

    #ButtonMargin:hover {
        box-shadow: inset -0.25em 0.25em 0.25em 0.25em rgba(0,0,0,0.59);
    }

.NameSchool a {
    text-decoration:none;
    color: gainsboro;
}
.hrefback {
    display:inline-block;
    margin-left: 10%;
    margin-top: 5%;
    padding-left:4%;
    padding-right:4%;
    padding-top:2%;
    padding-bottom:2%;
    color:white;
    text-align:center;
    font-family:sans-serif;
    text-align:left;
    cursor:pointer;
    border-radius:10px;
    background-color:grey;
    border-bottom:1px solid white;
}
.hrefback:hover {
    border-radius:10px;
    background-color:grey;
    border-bottom:none;
    border-top:1px solid white;
}

.RecordsContent {
    width: 96%;
    margin:0 auto;
    padding: 10px 0;
}
.SchoolNames {
    width: 100%;
    padding-left: 20%;
    background-color: #eff0ff;
}
.SchoolName {
    width: 20%;
    color: black;
    font-family: sans-serif;
    text-align: center;
    vertical-align: top;
    border-left: 2px dashed  #fefef2;
    transition-duration: 1s;
}
.SchoolName div {
    padding: 10px;
    display: inline-block;
    text-align: left;
}
.SchoolName a {
    color:  #000118;
    text-shadow: 2px 2px 2px #bbbba2;
    text-decoration: none;
    font-family: sans-serif;
    text-align: left;
}

.SchoolName:hover {
    background-color: white;
}

.SchoolName a:hover {
    text-decoration: underline;
}
.GenRating {
    width: 100%;
    border-top: 4px solid #eff0ff;
    border-left: 4px solid #eff0ff;
    border-right: 4px solid #eff0ff;
    color: #000118;
}

.MainRating {
    color: #474658;
    text-shadow: 2px 2px 2px #bbbba2;
    font-weight: bold;
}

.GenName {
    width: 20%;
    text-align: left;
    vertical-align: top;
    font-family: sans-serif;
    padding: 10px 0;
}

.GenRecords {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    border-spacing: 0;
}
.GenDigits {
    width: 100%;
    font-family: sans-serif;
}

.GenDigits tr td {
    width: 20%;
    text-align: center;
    vertical-align: middle;
   
}