﻿#Bagpage {
    width:100%;
    height:100%;
    background-color:#F5F5F5;
}
#LeftSchoolBar {
    overflow:auto;
    width:14em;
    height:100%;
    position:fixed;
    background: #364050 url('images/bg1.png');
    box-shadow: inset -0.1em 0em 0.35em 0em rgba(0,0,0,0.15);
    z-index:2;
}
#VerticalLine {
    width:6em;
    height:100%;
    position:fixed;
    margin-left:14em;
    background-color: #e8e8e8;
    background-image: url('images/bg2.png');
    box-shadow: inset -0.1em 0em 0.35em 0em rgba(0,0,0,0.15);
    z-index:2;
}
.Records {
    margin-left:20em;
    background-color:#F5F5F5;
}
table {
    border-spacing: 0;
}
.RecordsTable{
    border-spacing:0;
    width:90%;
    margin:0 auto;
    padding-top:20px;
}
    .RecordsTable tr {
        width:100%;
    }
    .RecordsTable tr td {
        padding:0;
        margin:0;
    }
    .RecordsTable tr th {
        width:16%;
        vertical-align:middle;
        text-align:center;
        background-color:#ff1;
    }
#logotype {
    margin-left:10%;
    margin-right:10%;
    margin-top:20%;
    height:84px;
    background-color: #c94663;
    background-image: url('images/bg1.png');
    padding-top:1px;
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.15), 0 0.025em 0.15em 0em rgba(0,0,0,0.25);
}
    #logotype h1 {
        font-family: 'Open Sans Condensed', sans-serif;
        color: #fff;
        font-size: 2em;
        letter-spacing: 0.1em;
        font-weight:normal;
    }
#Tips {
    margin-top:20%;
}
#HeaderTips {
    color:gainsboro;
    font-size:1.4em;
    font-family:sans-serif;
    padding-left:10%;
}
.SchoolElem {
    border-spacing:20px;
}
.ColorSchool {
    width:20px;
    height:20px;
    border-radius:3px;
    border:1px solid white;
}
.NameSchool {
    line-height:1.1em;
    color:gainsboro;
}
    .NameSchool:hover {
        text-decoration:underline;
    }
#Comparison {
    font-family:sans-serif;
    font-size:2em;
    color: rgb(23, 103, 153);
    margin-top:0;
    margin-left:5%;
    margin-bottom:2%;
    padding:0.5%;
    background-color:white;
    border: 1px solid darkblue;
    display:inline-block;
    /*text-shadow:#c94663 1px 1px 2px;*/
}
.RatingRow {
    width:100%;
}
.HeaderData {
    vertical-align:middle;
    width:20%;
}
    .HeaderDataTable {
        width:100%;
        height:146px;
        margin:0 auto;
        background-color:#4682B4;
        text-align:center;
        color:white;
        text-shadow: -1px -1px 2px black;
        box-shadow: inset 0.35em -0.35em 0.35em 0.35em rgba(255,255,255,0.25);
    }
.HeaderDataRating {
    height:100%;
    min-width:72px;
}
    .HeaderDataRating div {
        white-space: nowrap;
        -moz-white-space:nowrap;
        display:inline-block;
    }
    .HeaderDataRating div:first-child {
        padding-left:5px;
    }
.Graphics {
    width:80%;
}
.TableData {
    width:100%;
    height:100%;
    position:relative;
    border-top:1px solid darkblue;
    border-right:1px solid darkblue;
    border-bottom:1px solid darkblue;
    background-color:white;
    box-shadow: 0.15em -0.15em 0.15em 0.15em rgba(0,0,0,0.35);
}
    .TableData tr td {
        width:20%;
        vertical-align:bottom;
        text-align:center;
    }
.TableDataYear {
    width:100%;
    height:100%;
    position:relative;
}
.TableDataYear tr td {
    width:20%;
    vertical-align:bottom;
    text-align:center;
}
.GraphSchool {
    height:143px;
    width:70%;
    margin:0 auto;
    position:relative;
}
.GraphSchool table {
    width:100%;
    height:100%;
}
.ElemGraph {
    vertical-align:bottom;
    text-align:center;
}
.CollGraphSchool {
    width:20%;
    margin:0 auto;
    display:inline-block;
    position:absolute;
    bottom:0;
}

.PaddingTable {
    height:10px;
    width:100%;
}
.YearPunct {
    width:90%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin:0 auto;
    border:1px solid darkblue;
    background-color: #364050;
    background-image: url('images/bg1.png');
    color:white;
    text-shadow: 2px 2px 5px black;
    box-shadow: 0.12em -0.12em 0.12em 0.12em rgba(0,0,0,0.35);
}
.HeaderDataYear {
    width:90%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin:0 auto;
    border:1px solid darkblue;
    background-color: #364050;
    background-image: url('images/bg1.png');
    color:white;
    text-align:center;
    box-shadow: inset 0.1em -0.1em 0.1em 0.1em rgba(255,255,255,0.35);
}
.line200 {
   position:absolute;
   top:13px;
   width:100%;
   background-color:#B8B8B8;
   
}
.line180 {
    position: absolute;
    top: 39px;
    width: 100%;
    background-color:#B8B8B8;
}
.line160 {
   position:absolute;
   top:65px;
   width:100%;
   background-color:#B8B8B8;
   
}
.line140 {
   position:absolute;
   top:91px;
   width:100%;
   background-color:#B8B8B8;
   
}
.line120 {
   position:absolute;
   top:117px;
   width:100%;
   background-color:#B8B8B8;
   
}
#ButtonSubject {
    margin-left:10px;
}
#SelectImg {
    width:40px;
    height:40px;
    background-image:url('images/select.png');
    background-size: 100% 100%;
    margin-left:310px;
}
#ButtonMargin {
   float:left;
   padding:10px;
   width:270px;
   background-color: #c94663;
   background-image: url('images/bg1.png');
   text-shadow: 1px 1px 2px black;
   color:white;
   box-shadow: inset 0.25em -0.25em 0.25em 0.25em rgba(255,255,255,0.25);
   border:1px solid darkblue;
   border-radius:5px;
   text-align:center;
   margin-bottom:10px;
}
    #ButtonMargin:hover {
        box-shadow: inset -0.25em 0.25em 0.25em 0.25em rgba(0,0,0,0.59);
    }
.linediv {
    height:1px;
}
.Digits {
    border-top:1px solid darkblue;
    border-left:1px solid darkblue;
    border-bottom:1px solid darkblue;
    width:40px;
    position:relative;
    background-color:white;
    color:#364050;
    text-shadow:none;
    box-shadow: -0.115em -0.15em 0.15em 0.15em rgba(0,0,0,0.35);
    min-width:40px;
}
.digit200 {
    position:absolute;
    top:4px;
    left:9px
}
.digit180 {
    position:absolute;
    top:30px;
    left:9px;
}
.digit160 {
    position:absolute;
    top:56px;
    left:9px;
}
.digit140 {
    position:absolute;
    top:82px;
    left:9px;
}
.digit120 {
    position:absolute;
    top:108px;
    left:9px;
}
.paddingTd {
    width:10px;min-width:10px;
    background-color:white;
}