﻿.school-full-info {
    margin: 0;
    padding: 0px;
}

    .school-full-info .tower.green {
        background-color: #15B700;

    }

    .school-full-info .tower.yellow {
        background-color: #E06100;
    }

    .school-full-info .tower.red {
        background-color: #FF6363;
    }

    .school-full-info .head .school-name {
        font-family: Calibri;
        font-size: 2em;
        text-align: left;
        line-height: 1em;
        margin: 0 0.25em 0 1em;
        font-weight: bold;
    }

    .school-full-info .head .location {
        margin-top: 1em;
        font-style: italic;
        text-align: left;
        padding-left: 2em;
    }

    .school-full-info .statistics {
        margin-left: 50px;
    }

        .school-full-info .statistics h2 {
            text-align: center;
            font-size: 2em;
            font-weight: initial;
            font-family: Arial;
        }

        .school-full-info .statistics .statistic-name {
            font-size: 1.70em;
            font-family: inherit;
        }

        .school-full-info .statistics .charts {
            display: inline-block;
            margin-bottom: 2em;
            width: 270px;
            height: 150px;
            padding: 0 0 0em 1em;
        }

            .school-full-info .statistics .charts .chart {
                display: inline-block;
                position: relative;
                width: 30px;
                margin-right: 1em;
                max-height: 150px;
                height: 150px;
            }

                .school-full-info .statistics .charts .chart .tower {
                    position: absolute;
                    width: 30px;
                    bottom: 0;
                }

.charts-wrapper {
    width: 250px;
}

.school-full-info .statistics .charts .chart .tower .value {
    position: absolute;
    width: 30px;
    text-align: center;
    top: -25px;
    font-size: 0.8em;
}

.school-full-info .statistics .charts .chart .year {
    position: absolute;
    line-height: 0px;
    bottom: -10px;
    font-size: 0.8em;
    left: 3px;
}

.school-full-info .statistics .subject-table {
    display: inline-block;
    vertical-align: bottom;
}

.subject-table th {
    font-weight: bold;
    font-size: 0.85em;
}

.statistics .subject-info .subject-table td {
    padding-left: 1em;
}

.subject-table .green {
    color: green;
    font-size: 0.75em;
    padding-left: 3px;
}

.statistics .subject-table .red {
    color: red;
    font-size: 0.75em;
    padding-left: 3px;
}
