﻿<style>
    html, body {
        min-width: 800px;
        width: 100%;
        height: 100%;
        background-image: none;
        margin: 0;
        padding: 0;
        background-color: white;
    }

    #wrapper {
        width: 100%;
        height: 100%;
    }
</style>
<div id="Bagpage">
    <div id="LeftSchoolBar">
        <div id="logotype">
            <h1>Edumeter</h1>
        </div>
        <div id="Tips">
            <div id="HeaderTips">
                Школи :
            </div>
            <div data-bind="with: SchoolsBag">
                <table class="SchoolElem" data-bind="foreach: School">
                    <tr>
                        <td class="NameSchool" data-bind="text: Name"></td>
                        <td>
                            <div class="ColorSchool" data-bind="style: {backgroundColor:Color}"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="VerticalLine"></div>
    <div class="Records" data-bind="with: SchoolsBag">
        <!--<div id="Comparison">Порівняння:</div>-->
        <table class="RecordsTable">
            <tr>
                <td>
                    <div class="HeaderDataYear">Роки :</div>
                </td>
                <td colspan="5">
                    <table class="TableDataYear">
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="YearPunct" data-bind="text: Year"></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Загальний &nbsp;</div><div>рейтинг :</div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: GenRating">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Точні &nbsp;</div><div>науки :</div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: ExactRating">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Гуманітарні &nbsp;</div><div>науки :</div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: HumanRating">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Природничі &nbsp;</div><div>науки :</div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: NaturalRating">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td style="cursor:pointer;" colspan="5" data-bind="click: $root.OpenSubjects">
                    <div id="ButtonSubject">
                        <div id="ButtonMargin">
                            <span>Порівняти за предметами</span>
                        </div>
                    </div>
                    <div id="SelectImg"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="Records" data-bind="with: SchoolsBag, visible: SubjectVisible">
        <!--<div id="Comparison">Порівняння:</div>-->
        <table class="RecordsTable">
            <tr>
                <td>
                    <div class="HeaderDataYear">Роки :</div>
                </td>
                <td colspan="5">
                    <table class="TableDataYear">
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="YearPunct" data-bind="text: Year"></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Українська мова&nbsp;</div><div>та література :</div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: Ukrainian">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Історія &nbsp;</div><div>України :</div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: HistoryOfUkr">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Всесвітня &nbsp;</div><div>історія :</div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: WorldHistory">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Зарубіжна &nbsp;</div><div>література :</div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: ForeignLiteraturue">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
             <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Англійська &nbsp;</div><div>мова :</div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: English">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Німецька &nbsp;</div><div>мова :</div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: Germany">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Французька &nbsp;</div><div>мова :</div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: Franch">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Іспанська &nbsp;</div><div>мова :</div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: Spanish">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Російська &nbsp;</div><div>мова :</div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: Russian">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Економіка: </div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: Economics">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Правознавство: </div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: Jurisprudence">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Математика: </div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: Math">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Фізика: </div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: Phisics">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Біологія: </div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: Biology">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
            <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Географія: </div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: Geography">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
             <tr>
                <td class="HeaderData">
                    <table class="PaddingTable"></table>
                    <table class="HeaderDataTable">
                        <tr>
                            <td class="HeaderDataRating"><div>Хімія: </div></td>
                            <td class="paddingTd"></td>
                            <td class="Digits">
                                <div class="digit200">200</div>
                                <div class="digit180">180</div>
                                <div class="digit160">160</div>
                                <div class="digit140">140</div>
                                <div class="digit120">120</div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
                <td colspan="5" class="Graphics">
                    <table class="PaddingTable"></table>
                    <table class="TableData">
                        <tr class="line200"><td><div class="linediv"></div></td></tr>
                        <tr class="line180"><td><div class="linediv"></div></td></tr>
                        <tr class="line160"><td><div class="linediv"></div></td></tr>
                        <tr class="line140"><td><div class="linediv"></div></td></tr>
                        <tr class="line120"><td><div class="linediv"></div></td></tr>
                        <tr data-bind="foreach: Year">
                            <td>
                                <div class="GraphSchool" data-bind="foreach: Chemistry">
                                    <div class="CollGraphSchool" data-bind="style:{height: ((Math.round($data)-100))*1.3+'px',left: ($index()*25+$root.left())+'%', backgroundColor: $root.colors()[$index()]}"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="PaddingTable"></table>
                </td>
            </tr>
        </table>
    </div>
</div>
