﻿<style>
    html, body {
        min-width: 1000px;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: white;
    }

    #wrapper {
        width: 100%;
        height: 100%;
    }
</style>
<div id="Bagpage">
    <div id="LeftSchoolBar">
        <a href="/" title="На головну">
            <div id="logotype">
                <h1>Edumeter</h1>
            </div>
        </a>
        <a title="Повернутися" data-bind="attr: { href: $root.hrefBack }">
            <div class="hrefback">&#8592;&nbsp;Назад</div>
        </a>
        @*<div id="Tips">
            <div id="HeaderTips">
                Школи :
            </div>
            <div data-bind="with: SchoolsBag">
                <table class="SchoolElem" data-bind="foreach: SchoolsInfo">
                    <tr>
                        <td class="NameSchool"><a data-bind="text: Name, value: Id, attr:{href: '/school/'+Id+'#'+window.location.pathname+window.location.hash }"></a></td>
                        <td>
                            <div class="ColorSchool" data-bind="style: {backgroundColor: $root.colors()[$index()]}"></div>
                        </td>
                    </tr>
                </table>
            </div>*@
    </div>
</div>
<div class="Content" data-bind="with: SchoolsBag">
    <div id="Header">Порівняння шкіл</div>
    <div class="RecordsContent">
        <table class="SchoolNames">
            <tr data-bind="foreach: SchoolsInfo">
                <td class="SchoolName"><div><a data-bind="text: Name, value: Id, attr: { href: '/school/' + Id + '#' + window.location.pathname + window.location.hash }"></a></div></td>
            </tr>
        </table>
         <table class="GenRating MainRating" data-bind="foreach: GeneralRating">
            <tr data-bind="style: { backgroundColor: $root.colors()[$index() % 2] }">
                <td data-bind="text: RatingName" class="GenName"></td> 
                <td class="GenRecords" colspan="4">
                    <table class="GenDigits">
                        <tr data-bind="foreach: Points">
                            <td data-bind="text: $data"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="GenRating" data-bind="foreach: SubjectRating">
            <tr data-bind="style: { backgroundColor: $root.colors()[$index()%2]}">
                <td data-bind="text: RatingName"  class="GenName"></td> 
                 <td class="GenRecords" colspan="4">
                    <table class="GenDigits">
                        <tr data-bind="foreach: Points">
                            <td data-bind="text: $data"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    @* <div class="Records" data-bind="foreach: GeneralRating">
            <div class="RecordGen">
                <div class="RecordContentS">
                    <div class="RatingName" data-bind="text: RatingName"></div>
                    <div class="Points">
                        <div class="Graph" data-bind="foreach: Points">
                            <div class="Column" data-bind="style:{ height: ($data-100)*2+23+'px', backgroundColor: $root.colors()[$index()], left: ($index()*23+$root.left())+'%'}">
                                <div class="DigitS" data-bind="text:$data"></div>
                                <div class="ColumnHeightS" data-bind="style:{height: ($data-100)*2+'px'}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table>
            <tr>
                <td style="cursor: pointer;" data-bind="click: $root.OpenSubjects">
                    <div id="ButtonSubject">
                        <div id="ButtonMargin">
                            <span>Порівняти за предметами</span>
                        </div>
                    </div>
                    <div id="SelectImg"></div>
                </td>
            </tr>
        </table>
        <div class="Records" data-bind="visible: $root.SubjectVisible, foreach: SubjectRating">
            <div class="RecordGen">
                <div class="RecordContent">
                    <div class="RatingName" data-bind="text: RatingName"></div>
                    <div class="Points">
                        <div class="Graph" data-bind="foreach: Points">
                            <div class="Column" data-bind="style:{ height: ($data-100)*2+23+'px', backgroundColor: $root.colors()[$index()], left: ($index()*23+$root.left())+'%'}">
                                <div class="Digit" data-bind="text:$data"></div>
                                <div class="ColumnHeight" data-bind="style:{height: ($data-100)*2+'px'}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>
